build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml
.idea/
.gradle/
local.properties
GeneratedPluginRegistrant.java
.env
.env.local

# iOS/macOS
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Podfile.lock

# Android
android/.gradle
android/gradle
android/captures
android/.idea
android/local.properties
android/gradlew
android/gradlew.bat

# Web
web/flutter_service_worker.js

# macOS
macos/Flutter/Flutter-Release.podspec
macos/Flutter/GeneratedPluginRegistrant.swift

# Miscellaneous
/lib/generated_plugin_registrant.dart
.DS_Store
.vscode
.history/
